<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="example.js"></script>

<body>
    <div ng-app="myApp" ng-controller="datCtrl">
        <a ng-click="DateFil">Date Filter</a>
       	<button ng-click="changeOrder()">Toggle date order</button>
       	<p>Current Ordering: {{ordering}}</p>
        <p>Date = {{ today | date : "MM.dd" }}</p>
        <ul ng-repeat="x in objectList">
            <li>{{x.name}}</li>
            <li>{{x.title}}</li>
            <li>{{x.postDate}}</li>
        </ul>
    </div>
    <script type="text/javascript" src="moment.js"></script>
</body>

</html>